tr {
    padding:15px;
}
td {
    padding:5px;
}
#right{
    width:auto;
    float:right;
    text-indent:left;
}
#left{
    text-indent:left;
    width:auto;
    float: left;
}
#lista th{
    text-align:left;
}
#check{
    padding:15px;
}
#cadastro, #lista{
    padding: 50px;
}
.tLista{
    width: 100%;
}