tr {
    padding:15px;
}
td {
    padding:5px;
}
#right{
    width:auto;
    float:right;
    text-indent:left;
}
#left{
    text-indent:left;
    width:auto;
    float: left;
}
#lista th{
    text-align:left;
}
#check{
    padding:15px;
}
#cadastro, #lista{
    padding: 50px;
}
.btn-p{
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 20px;
}
.tLista td{
    padding: 10px;
}